{% extends "auctions/layout.html" %}
{% block body%}
{% for list in Products %}
        {% if list.Pr_category == ac %}
            <ul style="list-style-type: none;">
                <div style="display: flex; border: 2px solid black; max-width: max-content; padding: 20px;">
                    <div style="margin-right: 40px;">
                        <!--Listing Details-->
                        <a href="{% url 'Product' list.id %}"><li><h1>{{ list.Pr_name.name }}</h1></li></a>
                        <li>Description: {{ list.Pr_description }}</li>
                        <li>Category: {{ list.Pr_category }}</li>
                        <li>Opening bid: ${{ list.Pr_price.bids }}</li>
                        <li>Status: {{ list.Pr_status }}</li>
                        <li>
                            {% if not list.Pr_status %}
                                {{ msg }}
                            {% endif %}
                        </li>
                    </div>
                    <div>
                        <li>
                            <img src="{{ list.Pr_image }}" style="width: 480px; height: 400px;">
                        </li>
                    </div>
                </div>
            </ul>
        {% endif %}
{% endfor %}

{% endblock %}